html,
body {
    height: 100%;
    background-color: #666666;
    overflow-x: hidden;
}

ul {
  list-style: none;

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #666666;
    overflow-x: hidden;
    color: #f2f2f2;
}

#filter,
small {
    color: black;
}

.hideLocButton{
    width: 144.3px;
}

.closeButton {
    padding-right: 20px;
}

.header {
    height: 60px;
    font-size: large;
    padding-left: 2px;
}

#map {
    height: calc(100% - 100px)
}

#title {
    font-family: inherit;
    font-size: 36px;
    color: #f2f2f2;
}

.menu-button {
    margin-top: 12px;
    margin-left: 12px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 410px) {
    #title {font-size: 24px;}
}