html,
body {
    height: 100%;
}

ul {
  list-style: none;

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

#side-bar {
    background: #737373;
    height: 100%;
    text-align: left;
}

.side-bar-header {
    color: white;
}

.closeButton {
    padding-right: 5px;
}

.menuIcon {
    display: none;
}

.header {
    height: 60px;
    font-size: large;
    padding-left: 2px;
}

#map {
    height: 100%;

}

.menu-button {
    position: fixed;
    top: : 0;
    left: 0;
}
